.header
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    %ul
      %li.pure-menu-selected
        %a(href="#") Home 
      %li
        %a(href="#") Sign Up

.splash-container
  .splash
    %h1.splash-head Do One Thing
    %p.splash-subhead
      Get more done by working on one thing at a time.

    %p
      %a.pure-button.pure-button-primary(href="/home") Get Started

.content-wrapper
  .content
    %h2.content-head.is-center
      Learn More

    .pure-g
      .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        %h3.content-subhead
          %i.fa.fa-rocket
          What is this?
        %p
          %b Do One Thing
          promotes productivity by helping you focus on what's most important. 


